<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net35" />
  <package id="Mono.Options" version="6.6.0.161" targetFramework="net472" />
  <package id="OpenMcdf" version="2.2.1.4" targetFramework="net472" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net35" />
</packages>